html {
	background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2013/03/21/56337/big_thumb_d0688ec77d91bb9a7215456b76de140e.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 45% 2.5%;
  	background-size: 150% 150%;
}

body {
  font-size: 24;
  
  font-family: "Comic";
  

}

todohead {
	font-size: 24;
	color: white;
	font-style: bold;
	text-shadow:1px 2px black;
	text-align: right;
}

p.todoTitle {
	font-size: 65;
	font-family: "Comic";
	background-color: black;
	color: white;
}

section[priority="done"]{
	text-decoration: line-through;
	background-color: black;
	color: white;
}

section[priority="low"]{
	background-color: gray;
	color: black;
}

section[priority="med"]{
	background-color: orange;
	color: cyan;
}

section[priority="high"]{
	background-color: red;
	color: white;
	background-opacity: 90%;
}
